.video-with-text__content {
  padding: var(--padding-y, 4.8rem) var(--padding-x, 6.8rem);
}

@media (max-width: 1279.98px) {
  .video-with-text__content {
    --padding-x: 4rem;
  }
}
@media (max-width: 1023.98px) {
  .video-with-text__content {
    --padding-x: 3rem;
  }
}
@media (max-width: 767.98px) {
  .video-with-text__content {
    --padding-x: 2rem;
  }
}
