.highlight-text-with-image a {
  display: inline-block;
  vertical-align: middle;
  width: var(--image-width);
  max-width: 100%;
  margin: 1.2rem 0.8rem;
}
.highlight-text-with-image img, .highlight-text-with-image svg {
  display: block;
}
@media (max-width: 767.98px) {
  .highlight-text-with-image a {
    width: var(--image-width-mobile);
    margin: 0.8rem 0.4rem;
  }
}
